<% form_tag( { :controller => 'primary_location', :action => 'index'}, { :selected => 'true', :class => 'panel' } ) do %>	
	<br/>
	<%= submit_tag 'Start New Search'%>		
	<br/><br/>
	<p>
		iCraig helps you search craigslist from your iPhone, click the start button to start building your craiglist search.
	</p>
	<br/>
	<p class="links">
		<a href="http://nerded.lighthouseapp.com/projects/17415-icraig/overview">bugs</a>
		--
		<a href="http://www.nerdEd.net">blog</a>
	</p>
	<p class="disclaimer">
		Disclaimer: this site is in no way affiliated with <a href="http://www.craigslist.org">Craigslist</a>
	</p>	
<% end -%>