<% form_tag( { :controller => 'primary_location', :action => 'index'}, { :selected => 'true', :class => 'panel' } ) do %>	
	<%= submit_tag 'Start New Search'%>	
	<p>
		Disclaimer: this site is in no way affiliated with Craigslist.org.
	</p>	
	<p>
		If you find any bugs please report them <a href="http://nerded.lighthouseapp.com/projects/17415-icraig/overview">here</a>
	</p>
<% end -%>