<% if !@primary_category.sub_categories.empty? then %>
	<ul selected="true" id="content">	
		<% @primary_category.sub_categories.each do | sub_category | %>
			<% if params[ :sub_location_id ] != nil then%>
				<li><%= link_to_remote sub_category.name, 
									   {:url => primary_location_sub_location_primary_category_sub_category_url( @primary_location, @sub_location, @primary_category, sub_category ),
									   :method => :get},
									   {:href => primary_location_sub_location_primary_category_sub_category_url( @primary_location, @sub_location, @primary_category, sub_category ),
									   :ajax_url => 'sub_category'} %></li>
			<% else %>
				<li><%= link_to_remote sub_category.name, 
									   {:url => primary_location_primary_category_sub_category_url( @primary_location, @primary_category, sub_category ),
									   :method => :get},
									   {:href => primary_location_primary_category_sub_category_url( @primary_location, @primary_category, sub_category ), 
									    :ajax_url => 'sub_category'}%></li>
			<% end %>
		<% end %>	
	</ul>
<% else %>	
	<%= render :partial=> 'global_partials/search' %>
<% end %>