<ul title="iCraig" selected="true">
	<% @sub_locations.each do | sub_location | %>
	<li><%= link_to sub_location.name, :action => 'select', :sub_location_id => sub_location.id %></li>
	<% end %>
</ul>