<ul selected="true">
	<% @sub_location.primary_categories.each do | primary_category | %>
		<li><%= link_to primary_category.name, url_for( [@primary_location, @sub_location, primary_category] ) %></li>
	<% end %>	
</ul>